<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Kevin Powell Responsive Layout</title>
  </head>
  <body>
    <header class="bg-light text-center">
      <div class="container container--narrow">
        <p>Lorem, ipsum dolor.</p>
        <h1>Responsive Layouts Do Not Have to be a Struggle</h1>
      </div>
    </header>

    <section>
      <div class="container">
        <h2 class="text-center">We use the Freshest Ingredients</h2>
        <div class="split">
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore
              natus ducimus aliquam dignissimos. Adipisci sed, eum ullam
              sapiente ab dolorem!
            </p>
          </div>
          <div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error,
              assumenda? Exercitationem, incidunt, culpa explicabo esse possimus
              reiciendis sed amet ipsam repudiandae quos architecto minima eum
              minus voluptate beatae autem numquam.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark">
      <div class="container">
        <div class="split">
          <div>
            <h2>Ingredients Sourced from Local Farmers</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              nulla dolorem consequatur.
            </p>
          </div>
          <div>
            <img src="images/food1.jpg" alt="pie" />
          </div>
        </div>
      </div>
    </section>

    <section class="bg-primary">
      <div class="container">
        <div class="split">
          <div><img src="images/food2.jpg" alt="food2" /></div>
          <div>
            <h2>
              Now Booking Reservations. Call Now!
            </h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
              nulla dolorem consequatur.
            </p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
